
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ url_for('static',filename='images/favicon.ico') }}">

    <title>FedEx BLE Demo</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static',filename='style/ble.css') }}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="{{ url_for('static',filename='other/ie8-responsive-file-warning.js') }}"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{ url_for('static',filename='other/html5shiv.js') }}"></script>
      <script src="{{ url_for('static',filename='respond/js/respond.min.js') }}"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">FedEx</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active lead"><a href="#">Bluetooth Low Energy Demonstration</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 lead" >
                Scanning Results
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12" id="activityResultId">
                &nbsp;
            </div>
        </div>
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static',filename='other/jquery-1.10.2.min.js') }}"></script>
    <script src="{{ url_for('static',filename='bootstrap/js/bootstrap.min.js') }}"></script>

    <!-- Custom scripting -->
    <script>
        $(document).ready(function(){
            setInterval(pullActivity, 5000);
        });
        function pullActivity(){
            var url = '/activity.json';
            $.ajax({
                url: url,
                dataType: 'jsonp',
                success: function (response) {
                    if(response.successful){
                        $('#activityResultId').html('');
                        $.each(response.data, function (index, activity) {
                            var d = activity.receipt_date.substring(8,10)+":"+
                                    activity.receipt_date.substring(10,12)+":"+activity.receipt_date.substring(12,14)+" "+
                                    activity.receipt_date.substring(0,4)+"-"+activity.receipt_date.substring(4,6)+"-"+
                                    activity.receipt_date.substring(6,8)
                            var result = "<div class='row'><div class='col-lg-3 lead' style='cursor:pointer;'>" + d +
                                    "</div><div class='col-lg-9 lead' style='cursor:pointer;'>" + activity.activity+", "+
                                    activity.client+", "+activity.payload + "</div></div>";
                            $("#activityResultId").append(result);
                        });
                    }
                }
            });
        }
    </script>
  </body>
</html>
