html {
     background-color: #4d148c;
}

body {
    padding-top: 75px;
    color: #e7e7e7;
    background-color: #4d148c;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.navbar-inverse {
    background-color:  #4d148c;
    border-color: #4d148c;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
color: #ffffff;
    background-color: #4d148c;
}

.navbar-inverse .navbar-brand {
color: #ffffff;
font-size: 22px;
}
